body
{
    background-color:white;
    color: black;
    margin: 25px;
}

#navbar {
    background-color: #6F8FAF;
    color: lightgray;
    background-color:darkslategray;
}

#navbar a {
    float: left;
    color: lightgray;
    margin: 10px;
    padding: 5px;
    width: 100px;
    text-align: center;
    }

a:hover{
    background-color:darkgray;
    color:lightgray;
}

a{
    text-decoration: none;
    list-style-type: none;
    margin: 4px;
    padding:4px; 
    border-radius: 3px,4px;
}